.mat-mdc-row:nth-child(2n-1) {
  background-color: #f4f4f4;
}

.mat-column-rolUsuario {
  text-align: center;
}

.mat-column-estado {
  text-align: center;
}

.mat-column-acciones {
  text-align: center;
}

.mat-mdc-header-cell {
  color: var(--md-primary-900);
}

.status-badge {
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  min-width: 80px;

  &.active {
    background-color: #e8f2d6;
    color: #668f03;
  }

  &.inactive {
    background-color: #f9eaf1;
    color: var(--md-warning-500);
  }
}

.link {
  cursor: pointer;
}

.row {
  align-items: baseline;
}
